.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  color: #292525;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  width: 300px;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: bold;
  color: #fff;
  background-color: #333;
  width: 100px;
  height: 100px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.square:hover {
  background-color: #555;
}

.status {
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
}

.reset-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #2c5455;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.reset-button:hover {
  background-color: #1c34a0;
}