.form-container {
    background-color: #222;
    color: #fff;
    padding: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="radio"] {
    margin-right: 5px;
  }
  
  textarea,
  input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    background-color: #333;
    color: #fff;
  }
  
  textarea {
    height: 100px;
  }
  
  input[type="submit"],
  button {
    padding: 10px 20px;
    background-color: #2196f3;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  input[type="submit"]:hover,
  button:hover {
    background-color: #1976d2;
  }
  
  button {
    margin-left: 10px;
    background-color: #f44336;
  }
  
  button:hover {
    background-color: #d32f2f;
  }