body {
    background-color: #333;
    color: #fff;
  }
  
  .App {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .todoList {
    list-style-type: none;
    padding: 0;
  }
  
  .todo {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .done {
    text-decoration: line-through;
  }
  
  .add-button,
  .remove-button {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 10px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  input[type='text'] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
  }
  
  h2 {
    margin-top: 0;
  }