#root {
    background: rgb(49,195,19);
    background: radial-gradient(circle, rgba(49,195,19,1) 0%, rgba(216,70,252,1) 100%);
    margin: 0 auto;
    height: 100vh;
    padding: 2rem;
    text-align: center;
  }
  
  .ball {
    background-color: yellow;
    border: solid 3px black;
    border-radius: 50%;
    width: 1.2rem;
  }
  
  .app {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }