.ListOfNames {
    font-family: 'Courier New', monospace;
    margin: auto;
    width: 20%;
    border: 1rem solid rgb(167, 168, 169);
    border-radius: 35%;
    padding: 1rem;
    text-align: center;
    background-color: rgb(210, 212, 211);
}

.App {
    text-align: center;
}